<div style="margin:1em">
    <h4>EDUCATION</h4>

    <h2>EDUCATION</h2>
    <mat-accordion>
        <!-- masters degree -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Masters Degree at University of Moratuwa
            </mat-panel-title>
            <mat-panel-description>
              Currently I am 
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <!-- bachelors degree -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Bachelors Degree at University of Moratuwa
              </mat-panel-title>
              <mat-panel-description>
                Currently I am 
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
          <!-- secondary education -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Higher Eduction
              </mat-panel-title>
              <mat-panel-description>
                Currently I am 
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
      </mat-accordion>
</div>