<div style="padding: 1em;">

<h1>Projects</h1>
<mat-card class="card-item">
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Project Xero</mat-card-title>
          <mat-card-subtitle>University level project</mat-card-subtitle>  
        </mat-card-title-group>
      </mat-card-header>
    <mat-card-content>Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf.
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdfSimple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
    </mat-card-content>
</mat-card>

<mat-card class="card-item">
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Project Xero</mat-card-title>
          <mat-card-subtitle>University level project</mat-card-subtitle>  
        </mat-card-title-group>
      </mat-card-header>
    <mat-card-content>
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdfSimple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdfSimple card that shows basics of content. This is a simple description shows you how the work is done with the svdf</mat-card-content>
</mat-card>

<mat-card class="card-item">
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Project Xero</mat-card-title>
          <mat-card-subtitle>University level project</mat-card-subtitle>  
        </mat-card-title-group>
      </mat-card-header>
    <mat-card-content>
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdfSimple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf</mat-card-content>
</mat-card>

<mat-card class="card-item">
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Project Xero</mat-card-title>
          <mat-card-subtitle>University level project</mat-card-subtitle>  
        </mat-card-title-group>
      </mat-card-header>
    <mat-card-content>
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdfSimple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf</mat-card-content>
</mat-card>

<mat-card class="card-item">
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Project Xero</mat-card-title>
          <mat-card-subtitle>University level project</mat-card-subtitle>  
        </mat-card-title-group>
      </mat-card-header>
    <mat-card-content>
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdfSimple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf
        Simple card that shows basics of content. This is a simple description shows you how the work is done with the svdf</mat-card-content>
</mat-card>
</div>
