<div
  style="
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 100vh;
  "
>
  <div class="main-nav-bar">
    <div mat-card-avatar class="header-image"></div>
    <div class="name">Moreen Hettihewa</div>
    <div class="title">Software Engineer. Self Learner.</div>
    <div class="list__icons">
      <div class="nav-icon">
        <i class="fa fa-home fa-lg" [routerLink]="'/'"></i>
        <span class="nav-icon__text">Home</span>
      </div>
      <div class="nav-icon">
        <i class="fa fa-code fa-lg" [routerLink]="'/projects'"></i>
        <span class="nav-icon__text">Projects</span>
      </div>

      <div class="nav-icon">
        <i class="fa fa-user fa-lg" [routerLink]="'/about'"></i>
        <span class="nav-icon__text">About</span>
      </div>

      <div class="nav-icon" href="mailto:moreenmadhushani@gmail.com">
        <i class="fa fa-envelope fa-lg"></i>
        <a href="mailto:moreemadhushani@gmail.com">
          <span class="nav-icon__text">Email me</span>
        </a>
      </div>
      <div class="nav-icon" (click)="openLinkedIn()">
        <i class="fab fa-lg fa-linkedin"></i>
        <span class="nav-icon__text">LinkedIn</span>
      </div>
      <div class="nav-icon">
        <i class="fab fa-lg fa-github"></i>
        <span class="nav-icon__text">Github</span>
      </div>
    </div>
  </div>
  <mat-card style="width: 70%; min-height: 100vh; overflow: scroll">
    <mat-card-content>
      <router-outlet> </router-outlet>
    </mat-card-content>
  </mat-card>
</div>
