<div style="display: flex; flex-direction: row; justify-content: space-between;max-height: 100vh;">
  <div style="width: 30%; margin-top: 10%;">
    <div mat-card-avatar class="header-image"></div>
    <div class="name">
      <h1>Chanuka Tennakoon</h1>
    </div>
    <div class="title">
      <h2>Mechanical Engineer</h2>
    </div>
    <div class="list__icons">
        <div [routerLink]="'/'">
            <mat-icon>home</mat-icon>
            <span>home</span>
        </div>
        <div [routerLink]="'/projects'">
            <mat-icon>code_off</mat-icon>
            <span>projects</span>
        </div>
        <div [routerLink]="'/about'">
            <mat-icon>contacts_product</mat-icon>
            <span>About</span>
        </div>
        <div>
            <mat-icon>email</mat-icon>
            <span>Email me</span>
        </div>
    </div>
  </div>
  <mat-card style="width: 70%; min-height: 100vh;overflow: scroll;">
    <mat-card-content>
      <router-outlet> </router-outlet>
    </mat-card-content>
  </mat-card>
</div>
