.header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    height: 10em;
    width: 10em;
    margin: auto;
}

.name {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #ebebeb;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 22px;
}

.title {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    letter-spacing: -0.04em;
    color: #ebebeb;
    font-size: 17px;
}

.list__icons {
    margin-top: 1em;
    display: grid;
    justify-content: center;
}

span {
    font-family: "Open Sans", sans-serif;
    color: #ebebeb;
}

.main-nav-bar {
    max-height: 100vh;
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
}

.fa,
.fab {
    width: 2em;
    color: #ebebeb;
    font-size: 1em;
}

.nav-icon {
    margin-bottom: 0.5em;
}

.nav-icon__text {
    font-size: 16px;
    font-weight: 300;
}